#navbar {
    background-color: gray;
    text-align: center;
}
#navbar a{
    color: white; 
}

#navbar li {
    display: inline-block;
    padding: 10px; 
    font-size: 20px;
    border: 10px ridge blue;
}


/*#topOfPage{
    background-color:grey;
    position:absolute;
    top:0%;
    width:100%;*/
    
body {
    background: url("https://static.pexels.com/photos/1380/black-and-white-city-skyline-buildings.jpg") no-repeat center center fixed  ; 
    background-size: cover;
}

#test{
    /*margin-left:auto;*/
    /*margin-right: auto;*/
    height:300px;
    width:300px;
    text-align: center;
    border:12px ridge blue;
/*  padding: 20px;*/
/*  display: inline-block;*/
    margin:auto;
    
}
#hob{
    width: 800px;
    text-align: center;
    border:12px ridge blue;
    margin: auto;
    
    
}

#hard{
    width: 400px;
    text-align: center;
    border:12px ridge blue;
    margin: auto;
}

#stuff{
    width: 430px;
    text-align: center;
    border:12px ridge blue;
    float: left;
}

#hey{
    width: 400px;
    text-align: center;
    border:12px ridge blue;
    float:left ;
}

#underwatersquad{
    width:550px;
    text-align: center;
    border:12px ridge blue;
    float:left;
}

#screenshots{
    width: 700px;
    text-align: left;
    border: 12px ridge blue;
    float:right;
}

#chance{
    width:400px;
    text-align:center;
    border:12px ridge blue;
    margin: auto;
}